.content {
    background-color: rgb(155, 155, 155);
    min-height: calc(100vh - 60px);
    text-align: center;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}